<!-- MASTER PAGES -->
<% layout('layout/main') -%>


<!-- SOCKET IO JS -->
<script src="socket.io/socket.io.js"></script>

<!-- CUSTOM JS -->
<script defer src="js/conteo.js"></script>

<!-- TITLE -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="divTitle" class="text-center">
                <span id="title">Conteo</span>
            </div>
        </div>
    </div>

    <!-- NOTIFICATION -->
    <div class="row">
        <div class="col-md-12">
            <div id="divNotify" style="display: none;">
                <div class="divNotify" role="alert" id="divNotify2">
                    This is a danger alert—check it out!
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT -->
<div class="container-fluid">
    <div class="row" id="divGames">


    </div>
</div>