<!-- MASTER PAGES -->
<% layout('layout/main') -%>

<script defer src="js/votaciones.js"></script>
<!-- TITLE -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="divTitle" class="text-center">
                <span id="title">Votaciones</span>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT -->
<div class="container-fluid">
    <div class="row" id="divGames">



    </div>
</div>